<div class="projectItem">
	<div layout-xs="column" class="projectHeader md-headline"><md-icon md-svg-src="{{project.iconSrc}}" aria-label="project.iconLabel"></md-icon> {{project.title}}</div>
	<div class="projectInfo">{{project.content}}</div>
	<div class="btnContainer">
	  <md-button ng-if="project.github === 'true'" ng-click="githubFunction()">View on Github</md-button>
	  <md-button ng-if="project.url === 'true'" class="md-raised" ng-click="deployFunction()">Launch Website</md-button>
	</div>
	<hr>
</div>