
<md-nav-bar class="navBar" md-no-ink-bar="true" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" hide-xs>
  <md-nav-item class="navButton" md-nav-click="scrollTo('aboutSection')" name="about">About Me</md-nav-item>
  <md-nav-item class="navButton" md-nav-click="scrollTo('projectSection')" name="projects">Projects</md-nav-item>
  <md-nav-item class="navButton" md-nav-click="scrollTo('contactSection')" name="contact">Get in Touch</md-nav-item>
</md-nav-bar>
<md-toolbar layout="row" class="mobileToolbar" show-xs hide-gt-xs>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Icon Button" ng-click="openSideNav()">
      <md-icon md-svg-src="/images/icon-menu-black.svg" aria-label="menu icon"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-sidenav layout="column" md-component-id="left" class="md-sidenav-left sideNav">
  <md-toolbar class="">
    <h1 class="md-toolbar-tools">Menu</h1>
  </md-toolbar>
  <md-content layout="column">
      <md-button ng-click="closeSideNav('aboutSection')" class="md-primary">
        About
      </md-button>
      <md-button ng-click="closeSideNav('projectSection')" class="md-primary">
        Projects
      </md-button>
      <md-button ng-click="closeSideNav('contactSection')" class="md-primary">
        Contact
      </md-button>
  </md-content>
</md-sidenav>

<div layout="column" class="landingSection">
  <div flex-offset="10">
    <div layout="row" class="content name header md-display-2">Sam Vredenburgh</div>
    <div layout="row" class="content title md-headline">Web Developer</div>
  </div>
  <div flex-offset="60" class="fabContainer">
    <fab-template ng-repeat="button in buttons" ripple-color="#00BCD4"  button-function="buttonFunction({index: $index})" button="button"></fab-template>
  </div>
</div>

<div layout="row" layout-xs="column" id="aboutSection" class="aboutSection">
  <div layout="column" class="leftSection" flex-offset="10" flex-offset-xs="0">
    <img src="/images/document-icon.png">
    <div class="btnContainer">
      <a href="/downloads/Sam_Vredenburgh_Resume_Updated.pdf" target="_blank"><md-button class="md-raised"> Download Resume</md-button></a>
    </div>
  </div>
  <div class="rightSection" flex-offset="10" flex-offset-xs="0" layout-align-xs="center center">
    <div class="header md-display-1">About Me:</div>
    <div class="content">
      Lorem ipsum dolor sit amet, vel ne affert democritum reprehendunt, persius tractatos suavitate has id, no tempor volutpat per. Ea quando oblique constituto sit, ludus legere deseruisse an qui. Virtute volutpat ut mel, labitur pertinax cum in, per an soleat contentiones. Nominavi perpetua dignissim cu nam, quaestio volutpat vis te. Eruditi rationibus mel ad, at corpora blandit constituto duo. Eum an exerci aliquam omittantur, euismod persecuti intellegebat cum at, qui commodo torquatos ei. Vix id nulla feugait, partem invidunt dignissim nam ut.
    </div>
  </div>
</div>

<div style="position: relative;">
  <div layout="column" id="projectSection" class="projectSection darkBackground">
    <div flex-offset="10" flex-offset-xs="0">
      <div class="header md-display-1">Projects</div>
      <projects-template ng-repeat="project in projects" project="project" github-function="githubFunction({index: $index})" deploy-function="deployFunction({index: $index})"></projects-template>
    </div>  
  </div>

  <div layout="row" id="contactSection" class="contactSection">

    <div class="header md-display-1" flex-offset="10">Get in Touch</div>

  </div>

  <div class="cardContainer">
    <md-card class="contactCard">
      <md-card-content>
        <div>
          <md-input-container>
            <label>Name</label>
            <input ng-model="user.name" type="text">
          </md-input-container>
        </div>
        
        <div>
          <md-input-container>
            <label>Email</label>
            <input ng-model="user.email" type="email">
          </md-input-container>
        </div>

        <div>
          <md-input-container>
            <label>Subject</label>
            <input ng-model="user.subject" type="text">
          </md-input-container>
        </div>

        <div>
          <md-input-container>
            <label>Message</label>
            <textarea ng-model="user.message" type="text" rows="5"></textarea>
          </md-input-container>
        </div>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="submitForm()">Submit</md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>

  </div>

  <div layout="row" class="emptySectionContainer darkBackground">

  </div>
</div>  

<div layout="column" class="footer">
  <div flex-offset="0" class="fabContainer">
    <fab-template ng-repeat="button in buttons" ripple-color="#00BCD4"  button-function="buttonFunction({index: $index})" button="button"></fab-template>
  </div>
</div>


